# Operating System specific
.DS_Store
Thumbs.db
Desktop.ini

# General Development Tools
*.log
*.tmp
*.bak
*.swp
*.lock

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.dylib
*.lib

# Executable files
*.exe
*.out
*.app
*.apk
*.jar

# Virtual Environments
venv/
env/
.virtualenv/

# Package directories
node_modules/
jspm_packages/
bower_components/

# Distribution / packaging
.Python
build/
dist/
sdist/
wheel/
cache/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
.profile_default/
ipython_config.py

# environment variables
.env

# Misc
*.py[cod]
__pycache__/
*.class
*.sln
*.suo
*.ntvs*
*.njsproj
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.ds_store
*.idea
*.project
*.settings
*.tmproj
*.esproj
*.vbproj
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ilk
*.map
*.exp
*.fdb_latexmk
*.synctex.gz
*.fls
*.log
*.aux
*.out
*.toc
*.nav
*.snm
*.vrb
*.dvi
*.fdb_latexmk
*.synctex(busy)
*.synctex.gz(busy)
*.blg
*.brf
*.cb
*.ind
*.idx
*.ilg
*.inx
*.ps
*.spl
*.swp
*.bbl
